#help{
	position: absolute;
	background: white;
	box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
	border-top: 1px solid #d3d3d3;
	overflow-y: auto;
	padding: 7px;
	display: block;
	bottom:0px;
}

.inner{
	position: fixed;
	bottom: 0px;
	
}

#help.closed {
	display:none;
}

#help ul.menu, #help .menu li{
	list-style-type: none;
	display: inline;
	margin-right: 15px;
	text-transform: uppercase;
	color: #303030;
	padding-bottom: 3px;
	text-rendering: optimizeLegibility;
}

#help .menu li.selected{
	border-bottom: 3px solid;
}

#help .menu li.name{

font-weight: bold;
    color: grey;
}

#help .content {
	padding: 15px 0px 10px 0px;
	background: white;
}

#help .flexcolumn > div {
 	min-height: 25px;  
}

.schemadescription {
	padding: 7px;
}

.flexrow > .header {
	
   	border-top:  1px solid #b6b6b6;
   
}

.flexrow > .headertitle{
	border-top:  1px solid #b6b6b6;
	display: -webkit-flex;
	display: flex;
	 -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 118px;
   	border-right:  1px solid #b6b6b6;
   	border-left:  1px solid #b6b6b6;
   	background: #f2f2f2;
   	font-size: 0.75em;    
}

.flexrow > .headertitle {
   	text-transform: uppercase;  
}

.objectoneoftitle{
	background: #2196F3;
	border: none;
	color: white;
    font-weight: normal;
    text-align: center;
}



.table {
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;
}

.table.table-striped tbody tr:nth-of-type(odd) {
  background: #f8f9fa;
}

.table.table-hover tbody tr:hover {
  background: #f0f1f4;
}

.table tbody tr.active,
.table.table-striped tbody tr.active {
  background: #f0f1f4;
}

.table td,
.table th {
  border-bottom: .05rem solid #e7e9ed;
  padding: .6rem .4rem;
}

.table th {
  border-bottom-width: .1rem;
}