#serverconsole{
	position: absolute;
	background: rgba(255,255,255,0.9);
	box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
	border-top: 1px solid #d3d3d3;
	overflow-y: auto;
	padding: 7px;
	display: block;
	bottom:0px;
}

#serverconsole .ts{
	font-weight: bolder;
	color:#009688;
	margin-right: 10px;
}

#serverconsole.closed {
	display:none;
}

#serverconsole ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.consolecontent{
	margin-top: 15px;
}