html{
  -webkit-font-smoothing: antialiased;  
}

 *, *:before, *:after {
	 -moz-box-sizing: border-box;
	 -webkit-box-sizing: border-box;
	 box-sizing: border-box;
}
 
.flexcontainer {
	width: 100%;
}

.flexcolumn {
    width: inherit;
    height: inherit;
    display: -webkit-flex;
    display: flex;
    flex: 1 1 0;
    -webkit-flex-direction: column;
    flex-direction: column;
    
}

.flexcolumn > div {
    display: flex;
    flex: 1 1 0;
    border-bottom:  1px solid #b6b6b6;
    min-height: 60px;
}

.flexrow {
    height: inherit;
    width: inherit;
    display: -webkit-flex;
    display: flex;
    flex: 1 1 auto;
    -webkit-flex-direction: row;
    flex-direction: row;
    
}

.flexrow > div {
    display: flex;
    flex: 1 1 0;
    height: inherit;
}


.centered{
    margin: auto;
    text-align: center;
}
.column > .headerstyle {
    display: flex;
    flex: 0 0 auto;
    height: 40px;
}

.column > .footerstyle {
    display: flex;
    flex: 0 0 auto;
    height: 40px;
}

.flexrow > .title {
	display: flex;
    flex: 0 0 auto;
    width: 100px;
   	border-right:  1px solid #b6b6b6;
   	background: #f2f2f2;
   	text-transform: uppercase;
   	font-size: 0.75em;    
}

.flexrow > .icon {
    display: flex;
    flex: 0 1 auto;
    width: 50px;
}

.flexrow > .icon img{
    width: 50px;
    margin: auto;
    object-fit: cover;
}
.button{
  margin: auto;
  padding: 9px;
  color: #727272;
  text-transform: uppercase;
}

.button.selected{
  background: #d35a51;
  color: white;
  -webkit-box-shadow: 5px 0px 7px -3px rgba(0,0,0,0.36);
   -moz-box-shadow: 5px 0px 7px -3px rgba(0,0,0,0.36);
   box-shadow: 5px 0px 7px -3px rgba(0,0,0,0.36);
}

.centered{
  text-align: center;
  margin:auto;
}



#repomanager .ui-dialog .ui-dialog-content {
	padding: 0px;
	overflow: hidden;
}

#repomanager input{
	margin-top: 5px;
	margin-bottom: 5px;
}

.flexcontainer  textarea {
     width: 100%;
     height: inherit;
     margin: 0;
     padding: 0;
     border-radius: 0;
     border: none;
}
