html{
  -webkit-font-smoothing: antialiased;  
}

 *, *:before, *:after {
	 -moz-box-sizing: border-box;
	 -webkit-box-sizing: border-box;
	 box-sizing: border-box;
}
 

.flexcolumn {
    width: inherit;
    height: inherit;
    display: -webkit-flex;
    display: flex;
    flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    -webkit-flex-direction: column;
    flex-direction: column;
    
}

.flexcolumn > div {
 	display: -webkit-flex;
    display: flex;
    flex: 1 1 auto;
     -webkit-flex: 1 1 auto;
    border-bottom: 1px solid #b6b6b6;
 	min-height: 40px;  
}

.flexrow {
   
    display: -webkit-flex;
    display: flex;
    flex: 1 1 auto;
     -webkit-flex: 1 1 auto;
    -webkit-flex-direction: row;
    flex-direction: row;
    
 
}

.flexrow > div {
    display: -webkit-flex;
    display: flex;
    flex: 1 1 auto;
     -webkit-flex: 1 1 auto;
    height: inherit; 
}


#publisher .centered{
 	margin: auto;
    text-align: center;
    width: auto;
}

.centered{
    margin: auto;
    text-align: center;
    width: 100%;
    padding: 0px 10px 0px 10px;
}


.flexcolumn > .headerstyle {
    display: -webkit-flex;
    display: flex;
     -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    height: 40px;
}

.flexcolumn > .statusstyle {
 	display: -webkit-flex;
    display: flex;
     -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    height: 40px;
    color: white;
    background: #d45500;
}

.flexcolumn > .footerstyle {
	display: -webkit-flex;
    display: flex;
     -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    height: 40px;
}

.flexrow > .title {
	display: -webkit-flex;
	display: flex;
	 -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 100px;
   
   	border-right:  1px solid #b6b6b6;
   	border-left:  1px solid #b6b6b6;
   	background: #f2f2f2;
   	text-transform: uppercase;
   	font-size: 0.75em;    
}

.flexrow > .header {
	display: -webkit-flex;
	display: flex;
   	border-right:  1px solid #b6b6b6;
   	background: #f2f2f2;
   	text-transform: uppercase;
   	font-size: 0.75em;    
}

.flexrow > .disabled {
	display: -webkit-flex;
	display: flex;
   	background: #f2f2f2;
}


.flexrow  .icon {
	display: -webkit-flex;
    display: flex;
    flex: 0 1 50px;
    width: 50px;
	padding: 5px;
}

.flexrow  .icon img{
   
    height: 50px;
    margin: auto;
    object-fit: cover;
}

.flexrow > .submit {
	display: -webkit-flex;
    display: flex;
    flex: 0 1 auto;
    width: 70px;
}

.button{
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 9px;
  color: #727272;
  text-transform: uppercase;
}

.button.selected{
  background: #d35a51;
  color: white;
  -webkit-box-shadow: 5px 0px 7px -3px rgba(0,0,0,0.36);
   -moz-box-shadow: 5px 0px 7px -3px rgba(0,0,0,0.36);
   box-shadow: 5px 0px 7px -3px rgba(0,0,0,0.36);
}

.centered{
  text-align: center;
  margin:auto;
}

#repomanager input{
	margin-top: 5px;
	margin-bottom: 5px;
}

#publisher input[type="text"], 
.ui-dialog input[type="text"], 
.ui-dialog select{
	width: 100%;
	height: inherit;
	border-radius: 0;
	padding: 0px;
	margin: 0px;
}

#sidebar input[type="text"], 
.ui-dialog input[type="text"], 
.ui-dialog select{
	width: 100%;
	height: inherit;
	border-radius: 0;
	padding: 0px;
	margin: 0px;
}

#publisher .flexcontainer textarea,,
.ui-dialog textarea{
	width: 100%;
	border-radius: 0;
	padding: 0;
	margin: 0;
	height: 100px;
	border: none;
}


.flexcontainer  textarea, .repocontainer textarea, 
.ui-dialog textarea {
     width: 100%;
     height: inherit;
     margin: 0;
     padding: 0;
     border-radius: 0;
     border: none;
}


.flexcontainer{
	display: -webkit-flex;
	display: flex;	
	
	width: inherit;
	/*height: inherit;*/
	-webkit-flex-direction: column;
    flex-direction: column;
}

.repocontainer{
	display: -webkit-flex;
	display: flex;	
	width: inherit;
	height: inherit;
	-webkit-flex-direction: column;
    flex-direction: column;
}


.publishernode {
	height: 4em;
	width: 4em;
	color: #fff;
	border: 2px solid white;
	line-height: 5.5em;
	text-align:center;
	box-shadow: 5px 0px 7px -3px rgba(0, 0, 0, 0.36);
	margin: 10px;
}

.text{
	background: #d45500;
	color: white;
	padding: 10px;
	font-size: 1.2em;
}
