text.icon {
	font-family: FontAwesome;
    font-size: 30px;
    fill: white;
    text-anchor: middle;
}

text.badge{
	font-family: FontAwesome;
    font-size: 15px;
    fill: white;
    text-anchor: middle;
}