<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="/css/milligram.min.css">
    <title>databox sdk - settings </title>
  </head>
  <body>
  	<div class="container">
  		
  		<div>
  			<h2> Nearly there - you just need set your github settings </h2>	
  		
  		</div>

  		<div class="row">
  			your settings are currently:
  		</div>

  		<div class="row">	
    		<pre>
    			<code>
					<%= config %>
				</code>
			</pre>
  		</div>

  		<div class="row">
			once you have updated the settings file,<a href="/">try again</a>
  		</div>
  	</div>
  
  </body>
</html>
