#mapper{
    box-shadow: rgba(0, 0, 0, 0.298039) 0px 0px 4px;
    background: #445662;
    width: 250px;
}

#mapper .title{
    background: #535353;
    color: white;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

#mapper .flexrow > .title {
    text-transform: uppercase;
    color: black;
}

#mapper .flexrow > .title, #mapper .flexrow > .attributetitle {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 118px;
    border-right: 1px solid #b6b6b6;
    border-left: 1px solid #b6b6b6;
    background: #f2f2f2;
    font-size: 0.75em;
}

#mapper .info{
	padding: 7px;
}

#mapper .strong{
    font-weight: bolder;
}

#mapper .functionDetail{
    width: 100%;
    padding: 10px;
    background: #535353;
    color: white;
}

#mapper .mappersrc{
    padding: 7px;
    font-weight: bolder;
    color: white;
    background: #535353;
    text-align : center;
}

#mapper .mapperattr{
    padding: 7px;
    font-weight: bolder;
    color: white;
    background: #535353;
    text-align : center;
    border-left: 2px solid white;
}

#mapper .sourceName{
    padding: 7px;
    color: white;  
    background:#667793;
    border-bottom: 1px solid #8dbebf;
    text-align: center;
    margin-top: 2px;
}

#mapper .sourceName.selected{
    font-weight: bolder;
}

.sourceattr {
    background: white;
    padding: 4px;
}

.toattr {
    background: white;
    padding: 4px;
}

#mapper .subselect{
    background: white;
    color: black;
    font-weight: bolder;
    padding: 7px;
}

#mapper .subselect.selected{
    border-left: 3px solid #5f9ea0;
}

#mapper .treeNode{
    padding: 5px;
    border-bottom: 1px solid #b6b6b6;
    border-left: 1px solid #b6b6b6;
    border-right: 1px solid #b6b6b6;
    color: #303030;
    background: white;
}

#mapper .treeNode.selected{
    font-weight: bolder;
}

#mapper .mapperHeading {
    font-weight: bolder;
    text-align: center;
    padding: 10px;
    background: rgb(48, 48, 48);
    color: white;

}

#mapper .tfrom{
    text-align: center;
    background: white;
    width:100%;
    padding: 8px;
}

#mapper .tto{
    text-align: center;
    background: white;
    width: 100%;
    padding: 8px;
}

#mapper .tclose{
    background: white;
    width: 100%;
}

#mapper .typestring{
    margin-bottom: 5px;
    background: #5f9ea0;
    color: white;
    padding: 7px;
}

#mapper .help {
    padding: 10px;
}