#mapper{
	position: absolute;
	right: 0px;
    z-index: 99999;
    box-shadow: rgba(0, 0, 0, 0.298039) 0px 0px 4px;
    background: #445662;
    width: 250px;
}

#mapper .title{
    background: #535353;
    color: white;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

#mapper .flexrow > .title {
    text-transform: uppercase;
    color: black;
}

#mapper .flexrow > .title, #mapper .flexrow > .attributetitle {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 118px;
    border-right: 1px solid #b6b6b6;
    border-left: 1px solid #b6b6b6;
    background: #f2f2f2;
    font-size: 0.75em;
}

#mapper .info{
	padding: 7px;
}