#mapper{
	position: absolute;
	right: 0px;
    z-index: 99999;
    box-shadow: rgba(0, 0, 0, 0.298039) 0px 0px 4px;
    background: #445662;
    width: 250px;
}

#mapper .title{
    background: #535353;
    color: white;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

#mapper .info{
	padding: 7px;
}